<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="flex min-h-full">
  <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-12 w-auto float-left pr-3" src="https://i0.wp.com/blueinsight.digital/wp-content/uploads/2022/07/1658320231435.jpeg?fit=200%2C200&ssl=1" alt="Your Company">
        <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Create your account</h2>
      </div>

      <div class="mt-8">

        <div class="mt-6">
          <form action="#" method="POST" class="space-y-6">
            <div class="mb-4">
              <%= f.label :"First Name", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <%= f.text_field :fname, required: true, class: "block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
        </div>
        <div class="mt-6">
            <div class="mb-4">
              <%= f.label :"Last Name", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <%= f.text_field :sname, required: true, class: "block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
        </div>
        <div class="mt-6">
            <div class="mb-4">
              <%= f.label :"email", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <%= f.email_field :email, autocomplete: "email", required: true, class: "block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
        </div>
        <div class="mt-6">
            <div class="mb-4">
              <%= f.label :"Phone Number", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <%= f.text_field :phno, required: true, class: "block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
        </div>

        <div class="mb-4">
          <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= f.password_field :password, autocomplete: "new-password", required: true, class: "block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
        <div class="mb-4">
          <%= f.label :password_confirmation, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div>
          <%= f.check_box :is_checked %>
          <%= f.label :is_checked, "Become Dealer" %>
        </div>
        </form>
    
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            <label for="remember-me" class="ml-2 mb-2 block text-sm text-gray-900">Remember me</label>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <%= f.submit "Sign Up", class: "flex w-full justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1493238792000-8113da705763?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80&auto=format&fit=crop&w=1908&q=80" alt="">
  </div>
</div>




