<%= form_with(model: variant) do |form| %>
  <% if variant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :variant, style: "display: block" %>
    <%= form.text_field :variant %>
  </div>

  <div>
    <%= form.label :car_id, style: "display: block" %>
    <%= form.collection_select :car_id, Car.all, :id, :car_name %>
  </div>

  <div>
    <%= form.submit class: "gray-btn"%>
  </div>
<% end %>
