<%if user_signed_in?%>
  <p style="color: green"><%= notice %></p>

  <%= render @variant %>
  <%= link_to "Back to variants", variants_path, class: "blue-link" %>
  <br><br>
<%end%>
<%# only admins can able to edit and destry the variants%>
<%if user_signed_in? && current_user.is_admin %>
  <div>
    <%= link_to "Edit this variant", edit_variant_path(@variant), class: "blue-link" %> 
    <%= button_to "Destroy this variant", @variant, method: :delete, class: "gray-btn" %>
  </div>
<%end%>
