<div id="<%= dom_id metadatum %>">
  <p>
    <strong>Waiting period:</strong>
    <%= metadatum.waiting_period %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= metadatum.car.car_name %>
  </p>

  <p>
    <strong>Variant:</strong>
    <%= metadatum.variant.variant %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= metadatum.pincode.pincode %>
  </p>

</div>
