<div class="bg-gray-800 font-serif capitalize text-center content-center bg-cover bg-center bg-blend-multiply" style="background-image: url(https://images.unsplash.com/photo-1543465077-db45d34b88a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);">
<div class="container text-center">
  <h1 class="font-bold text-4xl text-white font-serif">Metadata</h1>

<div class="flex flex-wrap mx-4">
  <% @metadata.each do |meta| %>
    <div class="w-full sm:w-1/3 p-3">
      <div class="container bg-white bg-opacity-10 my-3 py-3 outline-double rounded-md capitalize hover:scale-105 duration-300">
        <dt class="text-lg font-bold bg-black text-white rounded-md">Car name:</dt>
        <dd class="mt-1 bg-stale-500 text-sm text-white"><%= meta.car.car_name %></dd>
        <dt class="text-lg bg-black font-bold text-white rounded-md">Variant name:</dt>
        <dd class="mt-1 bg-stale-500 text-sm text-white"><%= meta.variant.variant %></dd>
        <dt class="text-lg bg-black font-bold text-white rounded-md">Pincode:</dt>
        <dd class="mt-1 bg-stale-500 text-sm text-white"><%= meta.pincode.pincode %></dd>
        <dt class="text-md bg-black text-white rounded-md">Waiting time</dt>
        <dd class="mt-1 bg-stale-500 text-sm text-white"><%= meta.waiting_period %></dd>
        <dt class="text-md bg-black text-white rounded-md">To view Metadata details</dt>
        <dd class="mt-1 bg-stale-500 text-lg text-white hover:text-blue-500"><%= link_to "Click Here", meta %></dd>
      </div>
    </div>
  <% end %>
</div>

  <button type="button" class="inline-flex w-1/8 mx-auto my-5 items-center gap-x-2 rounded-md bg-indigo-600 py-2.5 px-3.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <%= link_to "New Metadata", new_metadatum_path, class: 'blue-link' %>
  </button>
</div>


<!--h1>Metadata</h1>

  <h1>Metadata</h1>

  <div id="metadata" class="md-flex grid-cols-1">
    <table class="table-auto ">
      <thead class="bg-amber-400">
      <tr>
        <th>Car</th>
        <th>Variant</th>
        <th>Pincode</th>
        <th>Waiting Period</th>
        <th>Show this Metadatum</th>
      </tr>
      </thead>
      <tbody class="bg-amber-100">
      <% @metadata.each do |metadatum| %>
        <tr>
          <td><%= metadatum.car.car_name %></td>
          <td><%= metadatum.variant.variant %></td>
          <td><%= metadatum.pincode.pincode %></td>
          <td><%= metadatum.waiting_period %></td>
          <td><%= link_to "Show this metadatum", metadatum, class: 'blue-link' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<%= link_to "New metadatum", new_metadatum_path %-->
