<p style="color: green"><%= notice %></p>

<%= render @metadatum %>

<div>
  <%= link_to "Edit this metadatum", edit_metadatum_path(@metadatum), class: "blue-link" %> |
  <%= link_to "Back to metadata", metadata_path, class: "blue-link" %>

  <%= button_to "Destroy this metadatum", @metadatum, method: :delete, class: "gray-btn" %>
</div>
