<div id="<%= dom_id car %>">
  <p>
    <strong>Car name:</strong>
    <%= car.car_name %>
  </p>

  <p>
    <strong>Car brand:</strong>
    <%= car.brand.name %>
  </p>

  <p>
    <strong>Launched:</strong>
    <%= car.launched %>
  </p>

  <p>
    <strong>Launch date:</strong>
    <%= car.launch_date %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= car.car_id %>
  </p>

</div>
