<li class="py-4">
  <p style="color: green"><%= notice %></p>
</li>

<li class="py-4">
  <h3>Cars</h3>
</li>

<!-- More items... -->

<li class="py-4">
  <div id="cars" class="md-flex grid-cols-1 justify-items-center">
    <table class="table-auto">
      <thead class="bg-amber-400">
      <tr>
        <th>Make</th>
        <th>Car</th>
        <th>View</th>
      </tr>
      </thead>
      <tbody class="bg-amber-100">
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.brand.name %></td>
          <td><%= car.car_name %></td>
          <td><%= link_to "Show this car",  car, class: 'blue-link' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</li>

<li class="py-4">
  <%= link_to "New car", new_car_path, class: 'blue-link' %>
</li>



