<!DOCTYPE html>
<html>
  <head>
    <title>Chalo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%#= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>chalo</h1>
      <p> plan for your next trip </p>
     
      <%= alert%>

       <%# Show this if user is signed in %>
      <%if user_signed_in?%>
        <%= link_to 'Sign Out',destroy_user_session_path  %>
      <%end%>
    </header>


    <main>
      <%# if user is not signed in then need to signup or login%>
      <%if !user_signed_in?%>
        <%= link_to "Sign Up","/users/sign_up"%>&nbsp|&nbsp <%= link_to "Login","/users/sign_in"%>
      <%end%>
      <ul role="list" style="list-style: none;">
        <%= yield %>
      </ul>
    </main>
    
     <footer>
    <%# Show this only if user is signed%>
      <% if user_signed_in?%>
        <p><%= link_to "Cars", cars_path, class: 'blue-link' %> | <%= link_to "Variants", variants_path, class: 'blue-link' %> | <%= link_to "Waiting Periods", metadata_path, class: 'blue-link' %></p>
      <%end%>
      <p>made by <a href="https://github.com/blueinsightdigital">@blueinsightdigital</a></p>
      <div id="wcb" class="carbonbadge wcb-d"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </footer>
  </body>

</html>
